
  <div class="d-flex flex-column justify-content-center loginPage">
    <div class="loginTxt p-1">Login</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-1">
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            formControlName="email"
            placeholder="Enter your email"
            type="email"
          />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
      </div>
      <div class="p-1">
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="Enter your password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          (click)="handleLogin()"
          class="loginPageBtns"
          mat-flat-button
          color="primary"
        >
          Login
        </button>
      </div>
    </form>
  </div>
  <div class="d-flex flex-column justify-content-center">
    <div class="text-center py-1 text-white">OR</div>
    <div class="d-flex py-1 justify-content-center">
      <button  (click)="handleNavigateRegisterPage()" class="loginPageBtns" mat-flat-button color="primary">
        Register
      </button>
    </div>
  </div>

