<!-- <mat-drawer-container class="w-100 h-100" autosize>
  <mat-drawer #drawer class="h-100" mode="side"> </mat-drawer>

  <mat-drawer-content> </mat-drawer-content>
</mat-drawer-container> -->

<div class="d-flex flex-column w-100 h-100">
  <div class="toolbar-container px-1 py-1">
    <mat-toolbar>
      <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>pin_drop</mat-icon>
          </button>
          <div>TRACKERITE</div>
        </div>
        <div class="d-flex align-items-center">
          <div *ngIf="userDetails$ | async as user">Hi {{ user.username }}</div>
          <div>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              class="example-icon"
              aria-label="Example icon-button with share icon"
            >
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="handleProfileMenu('profile')" mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Profile</span>
              </button>
              <button (click)="handleProfileMenu('logout')" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="d-flex content-container pb-1 px-1">
    <div class="h-100 side-nav-container">
    <div>
      <div
      *ngFor="let option of menuOptions"
      class="p-2 d-flex justify-content-center align-items-center"
    >
      <div
        [matTooltip]="option.name"
        [matTooltipPosition]="'right'"
        (click)="handleSidenavPageChange(option)"
        class="menuOptions d-flex justify-content-center align-items-center w-100"
      >
        <mat-icon>{{ option.icon }}</mat-icon>
      </div>
    </div>
    </div>
      <div class="p-2 d-flex justify-content-center align-items-center">
        <div
          [matTooltip]="'Settings'"
          [matTooltipPosition]="'right'"
          (click)="handleSidenavPageChange('settings')"
          class="menuOptions d-flex justify-content-center align-items-center w-100"
        >
          <mat-icon>settings</mat-icon>
        </div>
      </div>

      <!-- <div class="p-2 d-flex justify-content-center align-items-center">
        <div
          class="menuOptions d-flex justify-content-center align-items-center w-100"
        >
          <mat-icon>travel_explore</mat-icon>
        </div>
      </div>
      <div class="p-2 d-flex justify-content-center align-items-center">
        <div
          class="menuOptions d-flex justify-content-center align-items-center w-100"
        >
          <mat-icon>person_pin</mat-icon>
        </div>
      </div>
      <div class="p-2 d-flex justify-content-center align-items-center">
        <div
          class="menuOptions d-flex justify-content-center align-items-center w-100"
        >
          <mat-icon>person</mat-icon>
        </div>
      </div> -->
    </div>
    <div class="w-100 h-100">
        <div
          *ngIf="loading$ | async"
          class="spinner-border"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <router-outlet />
    </div>
  </div>
</div>
